.cart-dropdown {
    position: absolute;
    width: 240px;
    height: 340px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid #fcf7d9;
    background-color: #100f10;
    top: 90px;
    right: 40px;
    z-index: 5;
    -ms-overflow-style: none;
    scrollbar-width: none;
     ::-webkit-scrollbar {
        display: none;
    }
    .cart-items {
        height: 240px;
        display: flex;
        flex-direction: column;
        overflow: scroll;
        color: #fcf7d9;
    }
    .btn {
        min-width: 165px;
        margin-top: auto;
        width: auto;
        height: 50px;
        letter-spacing: 0.5px;
        line-height: 50px;
        font-size: 15px;
        background-color: #f59548;
        color: #100f10;
        text-transform: uppercase;
        font-family: 'Montserrat';
        font-weight: bolder;
        font-size: small;
        border: none;
        cursor: pointer;
        &:hover {
            background-color: #100f10;
            color: #fcf7d9;
            border: 1px solid #f59548;
        }
    }
}